html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


:root {
  --main-red: #881515;
  --main-red-transparent: #881515f3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.header-left {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.corner-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  padding: 0 1em;
  margin: 19.92px 0;
}

.name-buttons {
  display: flex;
  gap: 1em;
  width: 500px;
  margin: 0 0 15px 0;
}

.intro {
  width: 500px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-red);
  color: white;
  border-radius: 30px;
  padding: 7px 20px;
  margin-top: 5px;
}

.button:hover {
  color: var(--main-red);
  background-color: white;
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  cursor: pointer;
}

.button-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--main-red);
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 7px 20px;
  margin-top: 5px;
}

.button-outline:hover {
  color: white;
  background-color: var(--main-red);
  cursor: pointer;
}

.hero-button {
  max-width: 500px;
  font-size: 22px;
}

.hero-card {
  display: flex;
  flex-direction: column;
}

.hero-name {
  font-size: 60px;
  font-weight: 650;
  letter-spacing: 2px;
}

.hero {
  font-size: 80px;
  font-weight: 650;
  letter-spacing: 2px;
  margin: 10px 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
  padding: 6em 0 0 0;
  margin: 0;
}

.m-hero-container {
  display: none;
}

.icons {
  height: 40px;
  width: 40px;
}

/* Hero Image */
.icon-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 10px;
}

.picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picture {
  background-color: gray;
  border-radius: 40px;
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.dot {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: var(--main-red-transparent);
  border-radius: 50%;
  display: inline-block;
  mix-blend-mode: multiply;
}

.tr {
  width: 150px;
  height: 150px;
  top: -60px;
  right: 40px;
  z-index: -1;
}

.tl {
  width: 110px;
  height: 110px;
  top: 25px;
  left: -50px;
  z-index: 1;
}

.br {
  width: 150px;
  height: 150px;
  bottom: -65px;
  right: -45px;
}

.project-section {
  background-color: #f4f4f4;
  width: 100%;
  margin-top: 110px;
  padding: 80px;
}

.project-section h2 {
  font-size: 35px;
}
.card-section {
  display: flex;
  gap: 100px;
  margin-top: 70px;
  overflow-x: scroll;
}

.h-full {
  height: 90vh;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.card-image {
  background-color: gray;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 5px;
  padding: 0;
  font-size: 23px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.card p {
  margin: 0 5px 25px 5px;
}

.about-me-section {
  display: flex;
  padding: 150px;
  gap: 70px;
  justify-content: center;
}

.about-me-pic-container {
  position: relative;
  width: 400px;
  height: 450px;
}

.about-me-pic {
  min-width: 400px;
  min-height: 450px;
  border-radius: 40px;
  object-fit: cover;
}

.top-dot {
  height: 60px;
  width: 60px;
  top: -40px;
  right: 55px;
  z-index: -1;
}

.bottom-dot {
  height: 90px;
  width: 90px;
  top: 405px;
  right: 280px;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 400px;
  line-height: 1.5em;
}

.contact-section {
  background-color: #f4f4f4;
  width: 100%;
  padding: 150px;
  display: flex;
  justify-content: center;
  gap: 250px;
}

.contact-bubble {
  display: flex;
  gap: 15px;
  border-radius: 90px;
  width: 425px;
  height: 160px;
  padding: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.contact-bubble h2 {
  margin: 0;
}

.contact-bubble span {
  font-size: 20px;
}
.contact-bubble span {
  margin-top: 10px;
}

.image-parent {
  border-radius: 50%;
  overflow: hidden;
}

.contact-pic {
  object-fit: cover;
  object-position: -10px center;
  transform: scale(130%);
}

.contact-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-section-body {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.interest {
  font-size: 40px;
  font-weight: 600;
}

.form-object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  max-width: 300px;
  height: 350px;
}

.form-object button {
  border: none;
  max-width: 300px;
  height: 35px;
  font-size: 15px;
}

.form-email {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
  font-family: sans-serif;
}

.form-body {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 150px;
  font-size: 20px;
  text-indent: 10px;
  font-family: sans-serif;
}

@media screen and (max-width: 1399px) {

  
  .h-full {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }

  .hero-container {
    flex-direction: column;
    padding: 0;
    gap: 30px;
    display: none;
  }

  .m-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .corner-name{
    font-size: 35px;
    text-align: center;
  }

  .hero {
    font-size: 40px;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .hero-button {
    height: 50px;
  }

  .icon-container {
    width: 100%;
    justify-content: center;
    gap: 8%;
  }

  .picture-container {
    width: 100%;
  }

  .picture {
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    object-position: center center;
  }
  

  .name-buttons {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 30px 0 0 0;
  }

  .hero-button{
    max-width: 100%;
    margin: 0px 20px;
  }

  .header-right {
    display: none;
  }

  .hero-name {
    display: none;
  }

  .dot {
    display: none;
  }

  .header-left{
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
  }

  .project-section {
    padding: 20px 0 0 0;
  }

  .project-section h2 {
    text-align: center;
    font-size: 45px;
  }

  .card-section {
    padding: 0 0 70px 40px;
    margin: 0;
    gap: 20px;
  }


  .card {
    min-width: 250px;
  }

  .card-body {
    gap: 0;
    justify-content: center;
    padding: 0 15px;
  }


  .card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-me-section {
    flex-direction: column;
    padding: 50px 0 60px 0;
    overflow: hidden;
    gap: 10px;
  }

  .about-me-pic {
    width: 100%;
    border-radius: 0;
  }


  .about-me-pic-container {
    height: 250px;
    width: 100%;
    overflow: hidden;
  }

  .about-me-text {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .about-me-text h2 {
    font-size: 45px;
    letter-spacing: 1.5px;
  }

  .about-me-text {
    padding: 0 40px;
  }

  .contact-section{
    gap: 0px;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-section-body {
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
  }

  .contact-section-body span {
    text-align: center;
  }

  .contact-bubble {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .contact-bubble h2 {
    text-align: center;
    font-size: 30px;
  }

  .contact-body {
    gap: 10px;
  }

  .contact-body span {
    font-size: 30px;
  }

  .image-parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 156px;
    width: 156px;
  }
}