html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --main-red: #881515;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-container {
  margin: 1.5em 0 0 4em;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5em 0 0 4em;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 4em;
}

h3 {
  padding: 0 1em;
  margin: 19.92px 0;
}

.name-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.intro {
  width: 500px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-red);
  color: white;
  border-radius: 30px;
  padding: 7px 20px;
  margin: 5px;
  width: 100%;
}

.button-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:  var(--main-red);
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 7px 20px;
  margin: 5px;
  width: 100%;
}

.hero-card {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
}

.hero-name {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hero {
  font-size: 50px;
  font-weight: bold;
}

.icons {
  height: 30px;
  width: 30px;
}
