html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root {
  --main-red: #881515;
  --main-red-transparent: #881515f3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1400px;
  margin: auto;
}

.header-left {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.corner-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  padding: 0 1em;
  margin: 19.92px 0;
}

.name-buttons {
  display: flex;
  gap: 1em;
  width: 500px;
  margin: 0 0 15px 0;
}

.intro {
  width: 500px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-red);
  color: white;
  border-radius: 30px;
  padding: 7px 20px;
  margin-top: 5px;
}

.button:hover {
  color: var(--main-red);
  background-color: white;
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  cursor: pointer;
}

.button-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--main-red);
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 7px 20px;
  margin-top: 5px;
}

.button-outline:hover {
  color: white;
  background-color: var(--main-red);
  cursor: pointer;
}

.hero-button {
  max-width: 500px;
  font-size: 22px;
}

.hero-card {
  display: flex;
  flex-direction: column;
}

.hero-name {
  font-size: 60px;
  font-weight: 650;
  letter-spacing: 2px;
}

.hero {
  font-size: 80px;
  font-weight: 650;
  letter-spacing: 2px;
  margin: 10px 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6em 0 0 0;
  margin: 0;
}

.icons {
  height: 40px;
  width: 40px;
}

/* Hero Image */
.icon-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 10px;
}

.picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picture {
  background-color: gray;
  border-radius: 40px;
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.dot {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: var(--main-red-transparent);
  border-radius: 50%;
  display: inline-block;
  mix-blend-mode: multiply;
}

.tr {
  width: 150px;
  height: 150px;
  top: -60px;
  right: 40px;
  z-index: -1;
}

.tl {
  width: 110px;
  height: 110px;
  top: 25px;
  left: -50px;
}

.br {
  width: 150px;
  height: 150px;
  bottom: -65px;
  right: -45px;
}

.project-section {
  background-color: #f4f4f4;
  margin-top: 110px;
  padding: 80px;
}

.project-section h2 {
  font-size: 35px;
}
.card-section {
  display: flex;
  gap: 100px;
  margin-top: 70px;
  overflow-x: auto;
}

.h-full {
  height: 90vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.card-image {
  background-color: gray;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 5px;
  padding: 0;
  font-size: 23px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.card p {
  margin: 0 5px 25px 5px;
}

.about-me-section {
  display: flex;
  padding: 150px;
  gap: 70px;
  justify-content: center;
}

.about-me-pic-container {
  position: relative;
  width: 400px;
  height: 450px;
}

.about-me-pic {
  min-width: 400px;
  min-height: 450px;
  border-radius: 40px;
  object-fit: cover;
}

.top-dot {
  height: 60px;
  width: 60px;
  top: -40px;
  right: 55px;
  z-index: -1;
}

.bottom-dot {
  height: 90px;
  width: 90px;
  top: 405px;
  right: 280px;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 400px;
  line-height: 1.5em;
}

.contact-section {
  background-color: #f4f4f4;
  padding: 150px;
  display: flex;
  justify-content: center;
  gap: 250px;
}

.contact-bubble {
  display: flex;
  gap: 15px;
  border-radius: 90px;
  width: 425px;
  height: 160px;
  padding: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.contact-bubble h2 {
  margin: 0;
}

.contact-bubble span {
  font-size: 20px;
}
.contact-bubble span {
  margin-top: 10px;
}

.image-parent {
  border-radius: 50%;
  overflow: hidden;
}

.contact-pic {
  object-fit: cover;
  object-position: -10px center;
  transform: scale(130%);
}

.contact-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-section-body {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.interest {
  font-size: 40px;
  font-weight: 600;
}

.form-object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  width: 300px;
  height: 350px;
}

.form-object button {
  border: none;
  width: 300px;
  height: 35px;
  font-size: 15px;
}

.form-email {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
  font-family: sans-serif;
}

.form-body {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 150px;
  font-size: 20px;
  text-indent: 10px;
  font-family: sans-serif;
}
